<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %> 
<body>
    <%- include('../partials/header') %>
    <main>
    <section class="introduction">
        <form class="event-form" method="POST" action="/event/<%= event._id %>/update?_method=PUT" enctype="multipart/form-data">
            <label for="title">Event Title:</label>
            <input type="text" id="title" name="title" value="<%= event.title %>" required>
            <br><br>
            <!-- 
            <label for="host">Event Host:</label>
            <input type="text" id="host" name="host" value="<%= event.host %>" required>
            <br><br>
             -->
            <label for="highlight">Event Highlight:</label>
            <input type="text" id="highlight" name="highlight" value="<%= event.highlight %>" required>
            <br><br>
            
            <label for="details">Event Details:</label>
            <input type="text" id="details" name="details" value="<%= event.details %>" required minlength="10">
            <br><br>
            
            <label for="location">Event Location:</label>
            <input type="text" id="location" name="location" value="<%= event.location %>" required>
            <br><br>
            
            <label for="category">Category:</label>
            <select id="category" name="category" required>
                <option value="Academic Events" <%= event.category === 'Academic Events' ? 'selected' : '' %>>Academic Events</option>
                <option value="Study Groups" <%= event.category === 'Study Groups' ? 'selected' : '' %>>Study Groups</option>
                <option value="Club Meetings" <%= event.category === 'Club Meetings' ? 'selected' : '' %>>Club Meetings</option>
                <option value="Career Fairs" <%= event.category === 'Career Fairs' ? 'selected' : '' %>>Career Fairs</option>
                <option value="Hackathons" <%= event.category === 'Hackathons' ? 'selected' : '' %>>Hackathons</option>
                <option value="Art Exhibitions" <%= event.category === 'Art Exhibitions' ? 'selected' : '' %>>Art Exhibitions</option>
                <option value="Other" <%= event.category === 'Other' ? 'selected' : '' %>>Other</option>
            </select>
            <br><br>
            
            <label for="start">Start Date/Time:</label>
            <input type="datetime-local" id="start" name="start" value="<%= event.startdatetimeFormatted %>" required>
            <br><br>
            
            <label for="end">End Date/Time:</label>
            <input type="datetime-local" id="end" name="end" value="<%= event.enddatetimeFormatted %>" required>
            <br><br>

            <label for="image">Event Image:</label>
            <input type="file" id="image" name="image" accept="image/*" required>
            <br><br>
            <% if (event.image) { %>
                <div class="event-image">
                    <img id="preview" src="/images/<%= event.image %>" alt="Preview" style="display: block; width:200px; height:150px; border-radius: 5px; margin-bottom: 10px;">
                </div>
            <% } else { %>
                <div class="event-image">
                    <img id="preview" src="<%= typeof image !== 'undefined' ? image : '' %>" alt="Preview" >
                </div>
            <% } %>
            <br><br>
            
            <button type="submit" class="btn">Update Event</button>
        </form>
    </section>
    <script>
        document.getElementById('image').addEventListener('change', function(event) {
            const file = event.target.files[0];
            const preview = document.getElementById('preview');
            const reader = new FileReader();

            reader.onload = function(e) {
                preview.src = e.target.result;
                preview.style.display = 'block';
            }

            if (file) {
                reader.readAsDataURL(file);
            } else {
                preview.style.display = 'none';
            }
        });
        
    </script>
</main>
    <%- include('../partials/footer') %>
</body>
</html>
